<div class="floating-button-container">
  <div class="floating-button" id="floatingBtn">
    <i class="fas fa-plus"></i>
  </div>
  <div class="floating-options" id="floatingOptions">
    <a href="#" class="option help" title="Help">
      <i class="fas fa-question-circle"></i>
    </a>
    <a href="mailto:info@ashokaenterprises.com" class="option email" title="Email">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://wa.me/919876543210" class="option whatsapp" title="WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
</div>
